In [15]:
import pandas as pd
import numpy as np
import statistics

In [16]:
df=pd.read_excel('C:/Users/LENOVO/Downloads/Mission stocks/All data/MISSION STOCKS.xlsx')

In [17]:
df.head(2)

,Date,ADANIPORTS,ASIANPAINT,AXISBANK,BAJAJ-AUTO,BAJAJFINSV,BAJFINANCE,BHARTIARTL,BPCL,BRITANNIA,...,PEL,PETRONET,PIDILITIND,PNB,UBL,TORNTPHARM,SIEMENS,SBICARD,PGHH,Unnamed: 99
0,2021-07-09,728.5,3010.6,747.35,3995.9,12854.75,6136.15,536.25,456.9,3475.95,...,2312.15,224.0,2277.80,41.00,1431.35,3005.05,2002.15,974.5,13134.70,NaN
1,2021-07-08,711.7,3028.3,754.40,4077.3,12333.90,6117.80,525.30,458.2,3491.40,...,2320.45,223.8,2283.45,41.05,1420.20,2945.50,2013.45,984.4,13186.95,NaN

In [18]:
df.head(1)

,Date,ADANIPORTS,ASIANPAINT,AXISBANK,BAJAJ-AUTO,BAJAJFINSV,BAJFINANCE,BHARTIARTL,BPCL,BRITANNIA,...,PEL,PETRONET,PIDILITIND,PNB,UBL,TORNTPHARM,SIEMENS,SBICARD,PGHH,Unnamed: 99
0,2021-07-09,728.5,3010.6,747.35,3995.9,12854.75,6136.15,536.25,456.9,3475.95,...,2312.15,224.0,2277.8,41.0,1431.35,3005.05,2002.15,974.5,13134.7,NaN

In [19]:
df.shape

(252, 100)

In [20]:
df.columns

Index(['Date', 'ADANIPORTS', 'ASIANPAINT', 'AXISBANK', 'BAJAJ-AUTO',
       'BAJAJFINSV', 'BAJFINANCE', 'BHARTIARTL', 'BPCL', 'BRITANNIA', 'CIPLA',
       'COALINDIA', 'DIVISLAB', 'DRREDDY', 'EICHERMOT', 'GRASIM', 'HCLTECH',
       'HDFC', 'HDFCBANK', 'HDFCLIFE', 'HEROMOTOCO', 'HINDALCO', 'HINDUNILVR',
       'ICICIBANK', 'INDUSINDBK', 'INFY', 'IOC', 'ITC', 'JSWSTEEL',
       'KOTAKBANK', 'LT', 'M&M', 'MARUTI', 'NESTLEIND', 'NTPC', 'ONGC',
       'POWERGRID', 'RELIANCE', 'SBILIFE', 'SBIN', 'SHREECEM', 'SUNPHARMA',
       'TATACONSUM', 'TATAMOTORS', 'TATASTEEL', 'TCS', 'TECHM', 'TITAN',
       'ULTRACEMCO', 'UPL', 'WIPRO', 'ABBOTINDIA', 'ACC', 'ADANIENT', 'ALKEM',
       'AMBUJACEM', 'APOLLOHOSP', 'AUROPHARMA', 'BAJAJHLDNG', 'BANDHANBNK',
       'BERGEPAINT', 'BIOCON', 'BOSCHLTD', 'CADILAHC', 'COLPAL', 'DABUR',
       'DLF', 'DMART', 'GAIL', 'GLAND', 'GODREJCP', 'HDFCAMC', 'HINDPETRO',
       'ICICIGI', 'HAVELLS', 'ICICIPRULI', 'IGL', 'INDIGO', 'INDUSTOWER',
       'YESBANK', 'VEDL', 'JUBLFOOD', 'LTI', 'LUPIN', 'MARICO', 'MCDOWELL-N',
       'MRF', 'MUTHOOTFIN', 'NAUKRI', 'NMDC', 'PEL', 'PETRONET', 'PIDILITIND',
       'PNB', 'UBL', 'TORNTPHARM', 'SIEMENS', 'SBICARD', 'PGHH',
       'Unnamed: 99'],
      dtype='object')

In [26]:

    rt=[]
    for i in range(len(df["ADANIPORTS"])-1):
        num=df["ADANIPORTS"].iloc[i+1]
        den=df["ADANIPORTS"].iloc[i]
        val=np.log(num/den)
        val_final=val*100
        rt.append(val_final)

    tot=0
    length=len(rt)
    for i in rt:
        tot=tot+i
    average=tot/length
    std=statistics.stdev(rt)
    print("Average is ",average)
    print("Standard deviation is ",std)

Average is  -0.2999282694345085
Standard deviation is  2.583457048063517

In [27]:
# for i in range(len(rt)):
#     rt[i]=rt[i]*100

In [28]:
len(rt)

251

In [29]:
# tot=0
# length=len(rt)
# for i in rt:
#     tot=tot+i
# print(tot/length)

In [30]:
statistics.stdev(rt)

2.583457048063517

2.281

In [14]:
# df["ADANIPORTS"].iloc[3]